.formRoot {
  max-width: 70vw;
  .questionList {
    padding: 15px 0;
  }

  .formRow {
    display: grid;
    padding: 15px 0;
    grid-auto-flow: column;
    grid-auto-columns: 1.5fr 1fr;
    grid-gap: 50px;
  }
}
